.banner {
    background: url('../img/frontend/contact_us/banner.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 650px;
}
.contact-form {
    background-color: rgb(255, 255, 255, 0.8);
    padding: 1.25rem 2rem 0rem 2rem;
}

.contact-form h5 {
    margin-bottom: 15px !important;
}

.contact-form h6 {
    margin-bottom: 10px !important;
}

.banner .form-control {
    border: 1px solid rgb(53, 74, 94, 0.5)!important;
}

.banner .input-group .form-select {
    padding: .100rem 1.75rem .100rem .30rem!important;
    background-color: #35495E;
    border: 1px solid rgb(53, 74, 94, 0.5)!important;
    border-radius: 0!important;
}
.banner .input-group select {
    color: white!important;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='fas fa-chevron-down' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}
.banner ::placeholder { /* Chrome/Opera/Safari */
    font-size: 0.9rem;
    color: rgb(0, 0, 0, 0.37);
}
.form-check-label {
    font-size: 0.8rem;
    color: #666666;
}
.form-check .form-check-input {
    float: left;
    margin-left: -1.3rem!important;
}
.submit-btn {
    background-color: #35495E;
    color: white;
    padding: 1rem 0;
}
.submit-btn:hover {
    color: white!important;
    background-color: #5c0606;
}




.gm-style-iw-d {
    overflow: hidden!important;
}
.gm-style-iw button {
    display: none!important;
}
.gm-style .gm-style-iw-c {
    top: 133px!important;
    left: -200px!important;
    background-color: #35495E;
    border-radius: 0!important;
    padding-right: 25px!important;
    padding-bottom: 25px!important;
    padding-top: 25px!important;
    padding-left: 25px!important;
}
.gm-style .gm-style-iw-t::after {
    background: none!important;
    box-shadow: none!important;
    content: "";
    height: 35px;
    left: -3.6rem;
    position: absolute;
    top: 20px;
    transform: translate(-50%,-50%) rotate(-45deg)!important;
    width: 35px;
    color: #35495E!important;
    background-color: #35495E!important;
}

.gm-style .gm-style-iw-d {
    width: 260px;
}

/*mobile-view*/
@media screen and (max-width: 767px) {
    .col-xs-90precent {
        width: 90%;
        max-width: 100%;
    }
    .xs-pl-0 {
        padding-left: 0 !important;
    }
    .contact-form {
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .container-fluid.banner.contact-banner {
        height: 800px;
        background-size: cover;
    }
    .col-xs-12 {
        width: 100%;
        max-width: 100%;
        flex: 100%;
    }

    .contact-submit {
        justify-content: flex-start;
        display: flex;
    }

    .contact-submit button.submit_btn.btn.submit-btn.w-75 {
        width: max-content !important;
        padding: 10px 20px;
        margin-bottom: 20px;
    }

    .xs-mt-15 {
        margin-top: 15px;
    }

    /*info window*/
    .gm-style-iw.gm-style-iw-c {
        width: 240px;
        max-width: 240px !important;
        height: 139px;
        padding-left: 15px !important;
        padding-right: 15px !important;
        top: 210px!important;
        left: -20px!important;
    }

    .gm-style .gm-style-iw-d {
        width: 100%;
    }

    .contact-info-logo {
        height: 1.4rem !important;
    }

    .infocard-i {
        font-size: 0.7rem;
        margin-right: 16px;
    }

    .infocard-p {
        font-size: 0.7rem;
    }

    .gm-style .gm-style-iw-t::after {
        left: 0rem;
        top: 70px;
        width: 20px;
        height: 20px;
    }

}



/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {
    .contact-wrapper-sm {
        padding-left: 15px !important;
        margin-left: 15px;
        margin-right: 15px;
        padding-right: 15px;
    }
    .col-sm-12 {
        max-width: 100%;
        flex: 100%;
    }
}





/*large screen*/
@media screen and (min-width: 1400px) {
   
}

/*windows mobile*/
@media (max-width: 767px) and (min-width: 451px){
}