/* modal*/
#exampleModal .modal-dialog {
  margin: 0;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
}
#exampleModal .modal-dialog .modal-content {
  border-radius: 0.2rem;
  background-color: rgba(255, 255, 255, 0.7);
}
#exampleModal .modal-dialog .modal-content .modal-header {
  border-bottom: none;
}
#exampleModal .modal-dialog .modal-content .modal-header .modal-title {
  color: #35495e;
}
#exampleModal .modal-dialog .modal-content .modal-body {
  padding: 0 25px 20px 25px;
}
#exampleModal .modal-dialog .modal-content .modal-body input {
  border-radius: 0 !important;
  height: 46px;
  color: #495057;
  padding-left: 1.2rem !important;
}
#exampleModal .modal-dialog .modal-content .modal-body input:active {
  border: 1px solid #ced4da !important;
}
#exampleModal .modal-dialog .modal-content .modal-body input:focus {
  box-shadow: none !important;
  border: 1px solid #ced4da !important;
}
#exampleModal .modal-dialog .modal-content .modal-body input::-moz-placeholder {
  font-size: 1rem;
  color: #495057;
}
#exampleModal .modal-dialog .modal-content .modal-body input:-ms-input-placeholder {
  font-size: 1rem;
  color: #495057;
}
#exampleModal .modal-dialog .modal-content .modal-body input::placeholder {
  font-size: 1rem;
  color: #495057;
}
#exampleModal .modal-dialog .modal-content .modal-body input[type=date] {
  color: #495057;
}
#exampleModal .modal-dialog .modal-content .modal-body .form-label {
  color: #35495e;
}
#exampleModal .modal-dialog .modal-content .modal-body .form-select {
  color: #495057;
  border-radius: 0;
  height: 46px;
  padding-left: 1.2rem !important;
}
#exampleModal .modal-dialog .modal-content .modal-body .form-select:focus {
  box-shadow: none !important;
  border: 1px solid #ced4da !important;
}
#exampleModal .modal-dialog .modal-content .modal-body .form-select option {
  color: #495057;
}
#exampleModal .modal-dialog .modal-content .modal-footer {
  border-top: none;
}
#exampleModal .modal-dialog .modal-content .modal-footer button[type=button] {
  border-radius: 0 !important;
  border: 1px solid #35495e !important;
  color: #35495e !important;
  width: 135px;
  padding: 10px 20px !important;
}
#exampleModal .modal-dialog .modal-content .modal-footer button[type=button] i {
  margin-right: 0.3rem;
}
#exampleModal .modal-dialog .modal-content .modal-footer button[type=submit] {
  border-radius: 0 !important;
  border: 1px solid #39b54a !important;
  background-color: #39b54a !important;
  width: 135px;
  padding: 10px 20px !important;
}
#exampleModal .modal-dialog .modal-content .modal-footer button[type=submit] i {
  margin-right: 0.6rem;
}

/* Main menu */
#contentMenu {
  background-color: rgba(22, 32, 44, 0.9);
  margin-top: 3%;
}
#contentMenu .main-menu-inner #closeMainMenu {
  right: 15px;
  top: -25px;
}
#contentMenu .main-menu-inner #closeMainMenu i {
  color: #fff;
  font-size: 15px;
}
#contentMenu .main-menu-inner .menu-content-wrapper .menu-icon-card-row {
  margin: 40px 60px;
}
#contentMenu .main-menu-inner .menu-content-wrapper .menu-icon-card-row .menu-icon-card {
  border: 2px solid #fff;
}
#contentMenu .main-menu-inner .menu-content-wrapper .menu-icon-card-row .menu-icon-card:hover {
  background-color: #cab6a1;
  border: 2px solid #000;
  filter: invert(1);
}
#contentMenu .main-menu-inner .menu-content-wrapper .menu-icon-card-row .menu-icon-card:hover p {
  color: #000;
}

/* Section: Section Add property */
#section-add-property {
  margin: 12rem 0 4rem;
}
#section-add-property .card {
  border: none;
  background-color: #fff;
  transition: all 0.5s;
  margin-bottom: 2rem;
}
#section-add-property .card:hover {
  box-shadow: 5px 5px 10px 0px rgba(115, 115, 115, 0.5);
}
#section-add-property .card .card-body .card-title {
  color: #35495e;
  margin-bottom: 1rem !important;
}
#section-add-property .card .card-body .card-text {
  color: #495057;
  margin: 1rem 0 !important;
}
#section-add-property .card .card-body ul li {
  color: #495057;
  margin-bottom: 0.5rem;
  list-style: none;
}
#section-add-property .card .card-body ul li:last-child {
  margin-bottom: 0;
}
#section-add-property .card .card-body ul li::before {
  content: ">";
  font-size: 20px;
  position: relative;
  left: -20px;
  margin-right: -11px;
  color: #39b54a;
}
#section-add-property .card .card-body div {
  margin-top: 2rem;
}
#section-add-property .card .card-body div .add-property-btn {
  width: 100%;
  display: block;
  margin: 0;
  border-radius: 0.2rem;
  color: #fff;
  text-align: center;
  font-size: 1.15rem;
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 1099px) {
  #section-add-property .card .card-body .card-title {
    font-size: 1rem;
  }
  #section-add-property .card .card-body div .add-property-btn {
    font-size: 1rem;
  }
}
@media screen and (max-width: 991px) {
  #section-add-property .add-property-col {
    max-width: 80% !important;
    margin: 0 auto !important;
    flex: 0 0 100% !important;
  }
}
@media screen and (max-width: 480px) {
  #section-add-property .add-property-col {
    max-width: 90% !important;
    margin: 0 auto !important;
    flex: 0 0 100% !important;
  }
}
/* Section: panaromal details */
.light-style > .card {
  border: none !important;
}

.toggle-submit.active::after {
  content: "";
  width: 65vw;
  height: 1px;
  background-color: #FFB703;
  position: absolute;
  left: 0;
  bottom: 0;
}

#panaromal_details .alert {
  width: 30rem;
  margin: 2rem auto;
  padding: 2rem 1.5rem;
  border-radius: 15px;
  position: relative;
  z-index: 2;
  background-color: #fff;
  border: 1px solid #FFB703;
  box-shadow: 2px 2px 5px 0px rgba(115, 115, 115, 0.5);
}
#panaromal_details .alert .alert-body {
  text-align: center;
}
#panaromal_details .alert .alert-body .btn-close {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 12px;
}
#panaromal_details .alert .alert-body .alert-title {
  display: block;
  margin-top: 15px;
  font-size: 32px;
  color: #35495e;
}
#panaromal_details .alert .alert-body p {
  font-size: 14px;
  margin-top: 15px;
  color: #35495e;
}
#panaromal_details .alert .alert-body a {
  text-decoration: none;
  color: #35495e;
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin-bottom: 25px;
}
#panaromal_details .alert .alert-body a:hover {
  text-decoration: none;
  color: #35495e;
}
#panaromal_details .alert .alert-body div {
  border-top: 1px solid #707070;
  padding-top: 20px;
}
#panaromal_details .alert .alert-body div .alert-btn {
  color: #fff;
  background-color: #FFB703;
  width: 130px;
  margin: 0 auto;
  padding: 10px 16px;
  border-radius: 20px;
  border: none;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .toggle-submit.active::after {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  #panaromal_details .alert {
    width: 17rem;
  }
}
/* About Us page */
#section-about-banner {
  position: relative;
}
#section-about-banner img {
  width: 100%;
}
#section-about-banner .inner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
#section-about-banner .inner-wrapper .banner-content {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 30rem;
}
#section-about-banner .inner-wrapper .banner-content .title {
  color: #fff;
  font-size: 40px;
}
#section-about-banner .inner-wrapper .banner-content .content {
  color: #fff;
  margin-top: 1.5rem;
}

#section-about-content {
  margin-top: 5rem;
  position: relative;
}
#section-about-content .image-container img {
  width: 90%;
  box-shadow: 30px 30px 0px 0px #707070;
}
#section-about-content .inner-content .title {
  display: block;
  font-size: 28px;
}
#section-about-content .inner-content .title .title-strong {
  font-weight: 700;
  color: #35495E;
  display: block;
  line-height: 1;
  margin-bottom: 3.5rem;
}
#section-about-content .inner-content .title .title-strong::after {
  content: "";
  width: 80px;
  height: 2px;
  background-color: #35495E;
  position: absolute;
  left: 20px;
  top: 100px;
}
#section-about-content .paragraph {
  margin: 5rem auto 2rem !important;
  text-align: center;
  width: 90%;
}

@media screen and (max-width: 991px) {
  #section-about-content .col-md-7,
#section-about-content .col-md-5 {
    flex: 0 0 100% !important;
    max-width: 100%;
  }
  #section-about-content .image-container {
    margin-bottom: 5rem;
  }
  #section-about-content .paragraph {
    width: 100% !important;
    margin-top: 2rem !important;
  }
}
@media screen and (max-width: 575px) {
  #section-about-banner .banner-content {
    width: 90% !important;
  }
  #section-about-banner .banner-content .title {
    font-size: 28px !important;
  }
  #section-about-banner .banner-content .content {
    margin-top: 1rem !important;
    font-size: 12px !important;
  }
}
/* Help And Support page */
#section-search-bar {
  position: relative;
  margin: 9rem 0 4rem;
}
#section-search-bar .help-center {
  color: #35495E;
  display: block;
  margin-bottom: 2rem;
}
#section-search-bar .help-center a {
  color: #35495E;
}
#section-search-bar .help-center a i {
  color: #F60331;
  margin-right: 6px;
}
#section-search-bar .title {
  font-size: 2.5rem;
  color: #35495E;
  text-align: center;
  margin-bottom: 2rem;
}
#section-search-bar .search-bar .inner-content {
  width: 65%;
  margin: 0 auto;
  position: relative;
}
#section-search-bar .search-bar .inner-content input[type=search] {
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 12px 16px 12px 48px;
  box-shadow: 0 2px 8px -4px;
  color: #35495E;
}
#section-search-bar .search-bar .inner-content input[type=search]::-moz-placeholder {
  font-size: 16px;
  color: #35495E;
}
#section-search-bar .search-bar .inner-content input[type=search]:-ms-input-placeholder {
  font-size: 16px;
  color: #35495E;
}
#section-search-bar .search-bar .inner-content input[type=search]::placeholder {
  font-size: 16px;
  color: #35495E;
}
#section-search-bar .search-bar .inner-content label {
  position: absolute;
  top: 14px;
  left: 15px;
  color: #C1BFBF;
}
#section-search-bar .search-bar .inner-content .search-btn {
  position: absolute;
  top: 5px;
  right: 6px;
  color: #fff;
  background-color: #39B54A;
  border: none;
  border-radius: 5px;
  padding: 7px 20px;
}
#section-search-bar .dotted-background {
  background-image: url(../img/frontend/help-and-support/line.png);
  width: 100%;
  height: 22vh;
  z-index: -1;
  position: relative;
  top: -150px;
  margin-bottom: -190px;
  background-repeat: space;
  opacity: 0.2;
}

#section-category-slider p {
  color: #35495E;
  text-align: center;
}
#section-category-slider .slider-container {
  margin: 4rem 0;
}
#section-category-slider .slider-container .splide__arrow {
  background: #fff;
  box-shadow: 0 1px 6px -2px;
}
#section-category-slider .slider-container .splide__slide .inner-content {
  border-radius: 8px;
  border: 1px solid #fff;
  box-shadow: 0 0 4px -2px;
  padding: 16px;
  margin: 1rem;
}
#section-category-slider .slider-container .splide__slide .inner-content:hover {
  cursor: pointer;
  border: 1px solid #39B54A;
  box-shadow: 0 0 4px -2px #39B54A;
}
#section-category-slider .slider-container .splide__slide .inner-content:hover .black-icon {
  display: none;
}
#section-category-slider .slider-container .splide__slide .inner-content:hover .green-icon {
  display: block;
}
#section-category-slider .slider-container .splide__slide .inner-content:hover .slide-text {
  color: #39B54A;
}
#section-category-slider .slider-container .splide__slide .inner-content .green-icon {
  display: none;
}
#section-category-slider .slider-container .splide__slide .inner-content img {
  display: block;
  margin: 0 auto;
}
#section-category-slider .slider-container .splide__slide .inner-content .slide-text {
  color: #35495E;
  text-align: center;
  display: block;
  margin-top: 16px;
}

#section-accordion .accordion-container {
  width: 60rem;
  margin: 0 auto;
}
#section-accordion .accordion-container .header-section {
  width: 35rem;
  margin: 0 auto 4rem;
  text-align: center;
}
#section-accordion .accordion-container .header-section .title {
  font-size: 1.75rem;
  color: #35495e;
  display: block;
  margin-bottom: 1rem;
}
#section-accordion .accordion-container .header-section .content {
  color: #35495e;
}
#section-accordion .accordion-container .accordion .accordion-item .accordion-header .accordion-button {
  color: #35495E;
  background-color: #fff;
  padding: 1rem 1.5rem;
}
#section-accordion .accordion-container .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: #35495E;
  background-color: #fff;
  box-shadow: none;
}
#section-accordion .accordion-container .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
  content: "-";
  font-size: 1.5rem;
  position: absolute;
  background-image: none;
  right: 1.3rem;
  color: #707070;
  transform: none;
}
#section-accordion .accordion-container .accordion .accordion-item .accordion-header .accordion-button:focus {
  box-shadow: none;
}
#section-accordion .accordion-container .accordion .accordion-item .accordion-header .accordion-button::before {
  content: ".";
  position: absolute;
  top: -31px;
  left: 0;
  color: #000;
  font-size: 4rem;
}
#section-accordion .accordion-container .accordion .accordion-item .accordion-header .accordion-button::after {
  content: "+";
  position: absolute;
  background-image: none;
  right: 1.5rem;
  font-size: 1.5rem;
  color: #707070;
}
#section-accordion .accordion-container .accordion .accordion-item .accordion-body {
  color: #35495e;
}

#section-contact {
  position: relative;
  margin: 4rem 0;
}
#section-contact .header-section {
  width: 35rem;
  margin: 0 auto 4rem;
  text-align: center;
}
#section-contact .header-section .title {
  font-size: 1.75rem;
  color: #35495e;
  display: block;
  margin-bottom: 1rem;
}
#section-contact .header-section .content {
  color: #35495e;
}
#section-contact .contact-box {
  text-align: center;
  border: 1px solid #39b54a;
  border-radius: 8px;
  padding: 2rem 1rem;
  width: 25rem;
  background-color: #fff;
}
#section-contact .contact-box i {
  font-size: 1.75rem;
  color: #39b54a;
}
#section-contact .contact-box a,
#section-contact .contact-box span {
  color: #35495e;
  display: block;
}
#section-contact .contact-box .contact {
  margin-top: 0.5rem;
}
#section-contact .dotted-background {
  background-image: url(../img/frontend/help-and-support/line.png);
  width: 100%;
  height: 27vh;
  z-index: -1;
  position: relative;
  top: -200px;
  margin-bottom: -240px;
  background-repeat: space;
  opacity: 0.2;
}

@media screen and (max-width: 1100px) {
  #section-search-bar {
    margin-top: 4rem;
  }
}
@media screen and (max-width: 991px) {
  #section-search-bar {
    margin-top: 4rem;
  }
  #section-search-bar .search-bar .inner-content {
    width: 100%;
  }

  #section-accordion .accordion-container {
    width: 90%;
  }

  #section-contact .contact-box {
    width: 20rem;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 90% !important;
  }

  #section-contact .col {
    flex: 0 0 100% !important;
  }
  #section-contact .contact-box {
    margin: 0 auto 1rem;
  }
  #section-contact .dotted-background {
    height: 51vh;
    top: -400px;
    margin-bottom: -440px;
  }
}
@media screen and (max-width: 580px) {
  #section-search-bar .title {
    font-size: 1.75rem;
  }

  #section-accordion .header-section .title {
    font-size: 1.5rem;
  }

  #section-contact .header-section .title {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 444px) {
  .container {
    max-width: 98% !important;
  }

  #section-category-slider .splide__slide .inner-content {
    height: 9rem;
  }

  #section-contact .contact-box {
    width: 100%;
  }
}
/* News Page */
#news-heading {
  position: relative;
}
#news-heading .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin: 2rem 0 1rem;
}
#news-heading .breadcrumb .breadcrumb-link:not(.active) {
  color: #212529;
  margin-right: 0.5rem;
}
#news-heading .breadcrumb .breadcrumb-link:not(.active)::after {
  content: ">";
  margin-left: 0.5rem;
}
#news-heading .breadcrumb .breadcrumb-link.active {
  font-weight: 600;
}
#news-heading .marquee {
  position: relative;
  padding: 0;
}
#news-heading .marquee .marquee-head {
  color: #fff;
  background-color: #F60331;
  padding: 0.3rem 1rem;
  position: absolute;
  top: 0;
  z-index: 1;
}
#news-heading .marquee marquee {
  padding: 0.3rem 0;
  background-color: #e6e9eb;
}
#news-heading .marquee marquee .trending-news svg {
  margin: 0 0.5rem 0 2rem;
}

#section-news-body {
  margin: 2rem 0;
}
#section-news-body .news-list .single-news {
  border-bottom: 1px solid #707070;
  padding: 0.5rem;
  margin-bottom: 2rem;
}
#section-news-body .news-list .single-news .title {
  text-transform: uppercase;
  color: #707070;
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
#section-news-body .news-list .single-news .news-content {
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
  color: #707070;
}
#section-news-body .news-list .single-news .news-content .image {
  width: 300px !important;
}
#section-news-body .news-list .single-news .news-content .content {
  position: relative;
}
#section-news-body .news-list .single-news .news-content .content .news-para {
  height: 130px;
  overflow: hidden !important;
}
#section-news-body .news-list .single-news .news-content .content .date {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #007bff;
}
#section-news-body .news-list .single-news .news-content .content .date::before {
  content: "|";
  margin-right: 0.5rem;
}
#section-news-body .most-viewed .title {
  background-color: #35495E;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
#section-news-body .most-viewed .most-viewed-news {
  position: relative;
  list-style: none;
  padding: 1rem;
}
#section-news-body .most-viewed .most-viewed-news li {
  padding: 0.5rem 0 0.5rem 1rem;
  border-bottom: 1px solid #707070;
}
#section-news-body .most-viewed .most-viewed-news li i {
  color: #35495e;
  font-size: 0.8rem;
  position: relative;
  left: -1rem;
  margin-right: -0.8rem;
}
#section-news-body .most-viewed .most-viewed-news li a {
  color: #707070;
}
#section-news-body .trending-now .title {
  background-color: #35495E;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
}
#section-news-body .trending-now .inner-wrapper {
  height: 800px;
  overflow: auto;
  /* width */
  /* Track */
  /* Handle */
}
#section-news-body .trending-now .inner-wrapper::-webkit-scrollbar {
  width: 10px;
}
#section-news-body .trending-now .inner-wrapper::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #e6e9eb;
}
#section-news-body .trending-now .inner-wrapper::-webkit-scrollbar-thumb {
  background: #35495e;
  border-radius: 10px;
}
#section-news-body .trending-now .inner-wrapper::-webkit-scrollbar-button {
  height: 10px;
}
#section-news-body .trending-now .inner-wrapper .trending-news {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
#section-news-body .trending-now .inner-wrapper .trending-news .image img {
  width: 200px !important;
}
#section-news-body .trending-now .inner-wrapper .trending-news .content {
  color: #707070;
}
#section-news-body .trending-now .inner-wrapper .trending-news .content .content-title {
  font-size: 1.1rem;
}
#section-news-body .trending-now .inner-wrapper .trending-news .content .author {
  font-size: 0.9rem;
}
#section-news-body .trending-now .inner-wrapper .trending-news .content .date {
  font-size: 0.7rem;
}
#section-news-body .trending-now .inner-wrapper .trending-news .content .news-para {
  font-size: 0.75rem;
  height: 50px;
  overflow: hidden !important;
  margin: 0.5rem 0;
  background: linear-gradient(to bottom, #707070 75%, rgba(0, 0, 0, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-news-body .trending-now .inner-wrapper .trending-news .content .read-more {
  font-size: 0.75rem;
  color: #35495e;
  position: relative;
}
#section-news-body .trending-now .inner-wrapper .trending-news .content .read-more ion-icon {
  position: relative;
  bottom: -4px;
  font-size: 1rem;
}

#section-pagination {
  margin: 2rem 0;
}
#section-pagination .image img {
  display: block;
  margin: 0 auto;
}
#section-pagination .pagination {
  justify-content: center;
  margin: 1rem 0;
}
#section-pagination .pagination .page-item .page-link.active {
  color: #007bff;
}
#section-pagination .pagination .page-item .page-link:hover {
  color: #007bff;
  background-color: #fff;
}
#section-pagination .pagination .page-item .page-link:focus {
  box-shadow: none;
}

@media screen and (max-width: 991px) {
  #section-news-body .news-list {
    margin-bottom: 4rem;
  }
  #section-news-body .most-viewed {
    margin-bottom: 4rem;
  }
  #section-news-body .trending-now {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 767px) {
  #section-news-body .news-list .single-news .news-content {
    flex-direction: column;
  }
  #section-news-body .news-list .single-news .news-content .image {
    width: 100% !important;
  }
  #section-news-body .news-list .single-news .news-content .image img {
    width: 100% !important;
  }
  #section-news-body .news-list .single-news .news-content .content .news-para {
    margin: 1.5rem 0;
  }
}
@media screen and (max-width: 575px) {
  #section-news-body .trending-now .inner-wrapper .trending-news {
    flex-direction: column;
  }
  #section-news-body .trending-now .inner-wrapper .trending-news .image {
    width: 100% !important;
  }
  #section-news-body .trending-now .inner-wrapper .trending-news .image img {
    width: 100% !important;
  }

  #section-pagination .image img {
    width: 100% !important;
  }
}/*# sourceMappingURL=custom.css.map */