/* modal*/
#exampleModal .modal-dialog {
  margin: 0;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
}
#exampleModal .modal-dialog .modal-content {
  border-radius: 0.2rem;
  background-color: rgba(255, 255, 255, 0.7);
}
#exampleModal .modal-dialog .modal-content .modal-header {
  border-bottom: none;
}
#exampleModal .modal-dialog .modal-content .modal-header .modal-title {
  color: #35495e;
}
#exampleModal .modal-dialog .modal-content .modal-body {
  padding: 0 25px 20px 25px;
}
#exampleModal .modal-dialog .modal-content .modal-body input {
  border-radius: 0 !important;
  height: 46px;
  color: #495057;
  padding-left: 1.2rem !important;
}
#exampleModal .modal-dialog .modal-content .modal-body input:active {
  border: 1px solid #ced4da !important;
}
#exampleModal .modal-dialog .modal-content .modal-body input:focus {
  box-shadow: none !important;
  border: 1px solid #ced4da !important;
}
#exampleModal .modal-dialog .modal-content .modal-body input::-moz-placeholder {
  font-size: 1rem;
  color: #495057;
}
#exampleModal .modal-dialog .modal-content .modal-body input:-ms-input-placeholder {
  font-size: 1rem;
  color: #495057;
}
#exampleModal .modal-dialog .modal-content .modal-body input::placeholder {
  font-size: 1rem;
  color: #495057;
}
#exampleModal .modal-dialog .modal-content .modal-body input[type=date] {
  color: #495057;
}
#exampleModal .modal-dialog .modal-content .modal-body .form-label {
  color: #35495e;
}
#exampleModal .modal-dialog .modal-content .modal-body .form-select {
  color: #495057;
  border-radius: 0;
  height: 46px;
  padding-left: 1.2rem !important;
}
#exampleModal .modal-dialog .modal-content .modal-body .form-select:focus {
  box-shadow: none !important;
  border: 1px solid #ced4da !important;
}
#exampleModal .modal-dialog .modal-content .modal-body .form-select option {
  color: #495057;
}
#exampleModal .modal-dialog .modal-content .modal-footer {
  border-top: none;
}
#exampleModal .modal-dialog .modal-content .modal-footer button[type=button] {
  border-radius: 0 !important;
  border: 1px solid #35495e !important;
  color: #35495e !important;
  width: 135px;
  padding: 10px 20px !important;
}
#exampleModal .modal-dialog .modal-content .modal-footer button[type=button] i {
  margin-right: 0.3rem;
}
#exampleModal .modal-dialog .modal-content .modal-footer button[type=submit] {
  border-radius: 0 !important;
  border: 1px solid #39b54a !important;
  background-color: #39b54a !important;
  width: 135px;
  padding: 10px 20px !important;
}
#exampleModal .modal-dialog .modal-content .modal-footer button[type=submit] i {
  margin-right: 0.6rem;
}

/* Main menu */
#contentMenu {
  background-color: rgba(22, 32, 44, 0.9);
  margin-top: 3%;
}
#contentMenu .main-menu-inner #closeMainMenu {
  right: 15px;
  top: -25px;
}
#contentMenu .main-menu-inner #closeMainMenu i {
  color: #fff;
  font-size: 15px;
}
#contentMenu .main-menu-inner .menu-content-wrapper .menu-icon-card-row {
  margin: 40px 60px;
}
#contentMenu .main-menu-inner .menu-content-wrapper .menu-icon-card-row .menu-icon-card {
  border: 2px solid #fff;
}
#contentMenu .main-menu-inner .menu-content-wrapper .menu-icon-card-row .menu-icon-card:hover {
  background-color: #cab6a1;
  border: 2px solid #000;
  filter: invert(1);
}
#contentMenu .main-menu-inner .menu-content-wrapper .menu-icon-card-row .menu-icon-card:hover p {
  color: #000;
}

/* Section: Section Add property */
#section-add-property {
  margin: 12rem 0 4rem;
}
#section-add-property .card {
  border: none;
  background-color: #fff;
  transition: all 0.5s;
  margin-bottom: 2rem;
}
#section-add-property .card:hover {
  box-shadow: 5px 5px 10px 0px rgba(115, 115, 115, 0.5);
}
#section-add-property .card .card-body .card-title {
  color: #35495e;
  margin-bottom: 1rem !important;
}
#section-add-property .card .card-body .card-text {
  color: #495057;
  margin: 1rem 0 !important;
}
#section-add-property .card .card-body ul li {
  color: #495057;
  margin-bottom: 0.5rem;
  list-style: none;
}
#section-add-property .card .card-body ul li:last-child {
  margin-bottom: 0;
}
#section-add-property .card .card-body ul li::before {
  content: ">";
  font-size: 20px;
  position: relative;
  left: -20px;
  margin-right: -11px;
  color: #39b54a;
}
#section-add-property .card .card-body div {
  margin-top: 2rem;
}
#section-add-property .card .card-body div .add-property-btn {
  width: 100%;
  display: block;
  margin: 0;
  border-radius: 0.2rem;
  color: #fff;
  text-align: center;
  font-size: 1.15rem;
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 1099px) {
  #section-add-property .card .card-body .card-title {
    font-size: 1rem;
  }
  #section-add-property .card .card-body div .add-property-btn {
    font-size: 1rem;
  }
}
@media screen and (max-width: 991px) {
  #section-add-property .add-property-col {
    max-width: 80% !important;
    margin: 0 auto !important;
    flex: 0 0 100% !important;
  }
}
@media screen and (max-width: 480px) {
  #section-add-property .add-property-col {
    max-width: 90% !important;
    margin: 0 auto !important;
    flex: 0 0 100% !important;
  }
}
/* Section: panaromal details */
.light-style > .card {
  border: none !important;
}

.toggle-submit.active::after {
  content: "";
  width: 65vw;
  height: 1px;
  background-color: #FFB703;
  position: absolute;
  left: 0;
  bottom: 0;
}

#panaromal_details .alert {
  width: 30rem;
  margin: 2rem auto;
  padding: 2rem 1.5rem;
  border-radius: 15px;
  position: relative;
  z-index: 2;
  background-color: #fff;
  border: 1px solid #FFB703;
  box-shadow: 2px 2px 5px 0px rgba(115, 115, 115, 0.5);
}
#panaromal_details .alert .alert-body {
  text-align: center;
}
#panaromal_details .alert .alert-body .btn-close {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 12px;
}
#panaromal_details .alert .alert-body .alert-title {
  display: block;
  margin-top: 15px;
  font-size: 32px;
  color: #35495e;
}
#panaromal_details .alert .alert-body p {
  font-size: 14px;
  margin-top: 15px;
  color: #35495e;
}
#panaromal_details .alert .alert-body a {
  text-decoration: none;
  color: #35495e;
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin-bottom: 25px;
}
#panaromal_details .alert .alert-body a:hover {
  text-decoration: none;
  color: #35495e;
}
#panaromal_details .alert .alert-body div {
  border-top: 1px solid #707070;
  padding-top: 20px;
}
#panaromal_details .alert .alert-body div .alert-btn {
  color: #fff;
  background-color: #FFB703;
  width: 130px;
  margin: 0 auto;
  padding: 10px 16px;
  border-radius: 20px;
  border: none;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .toggle-submit.active::after {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  #panaromal_details .alert {
    width: 17rem;
  }
}
/* About Us page */
#section-about-banner {
  position: relative;
}
#section-about-banner img {
  width: 100%;
}
#section-about-banner .inner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
#section-about-banner .inner-wrapper .banner-content {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 30rem;
}
#section-about-banner .inner-wrapper .banner-content .title {
  color: #fff;
  font-size: 40px;
}
#section-about-banner .inner-wrapper .banner-content .content {
  color: #fff;
  margin-top: 1.5rem;
}

#section-about-content {
  margin-top: 5rem;
  position: relative;
}
#section-about-content .image-container img {
  width: 90%;
  box-shadow: 30px 30px 0px 0px #707070;
}
#section-about-content .inner-content .title {
  display: block;
  font-size: 28px;
}
#section-about-content .inner-content .title .title-strong {
  font-weight: 700;
  color: #35495E;
  display: block;
  line-height: 1;
  margin-bottom: 3.5rem;
}
#section-about-content .inner-content .title .title-strong::after {
  content: "";
  width: 80px;
  height: 2px;
  background-color: #35495E;
  position: absolute;
  left: 20px;
  top: 100px;
}
#section-about-content .paragraph {
  margin: 5rem auto 2rem !important;
  text-align: center;
  width: 90%;
}

@media screen and (max-width: 991px) {
  #section-about-content .col-md-7,
#section-about-content .col-md-5 {
    flex: 0 0 100% !important;
    max-width: 100%;
  }
  #section-about-content .image-container {
    margin-bottom: 5rem;
  }
  #section-about-content .paragraph {
    width: 100% !important;
    margin-top: 2rem !important;
  }
}
@media screen and (max-width: 575px) {
  #section-about-banner .banner-content {
    width: 90% !important;
  }
  #section-about-banner .banner-content .title {
    font-size: 28px !important;
  }
  #section-about-banner .banner-content .content {
    margin-top: 1rem !important;
    font-size: 12px !important;
  }
}/*# sourceMappingURL=custom.css.map */