.btn-filters button {
    font-size: 0.9rem;
}
.apart-avail {
    left: 1.5rem;
    top: 0.2rem;
}
.apart-avail button {
    font-size: 0.6rem;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 0.1rem 0.5rem!important;
    border-radius: 30px;
    line-height: 15px;
}

.pano-symbol {
    position: absolute;
    top: 8%;
    left: 40%;
    width: 20% !important;
    height: auto !important;
}

.prom-logo {
    top: 8.5rem;
    left: 1rem;
    width: 100%;
}
.tooltip.show {
    opacity: 1;
}
.tooltip-inner {
background-color: #35495E;
}

.mySwiper2 {
    height: 300px!important;
}
.mySwiper2 img {
    object-fit: cover;
    height: 300px;
    width: 100%;
}

.mySwiper {
    height: 80px!important;
}
.mySwiper img {
    object-fit: cover;
    height: 80px;
    width: 100%;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 5px!important;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 20px;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 5px!important;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 20px;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    font-size: 1.3rem;
    color: #000000;
    font-weight: 800;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    font-size: 1.3rem;
    color: #000000;
    font-weight: 800;
}
.find-out {
    border: 1px solid #39B54A!important;
    color: #39B54A;
    border-radius: 30px;
    font-size: 0.9rem;
    font-weight: 800;
    padding: 0.4rem 1.2rem!important;
    line-height: 19px;
}

.card-body {
    padding: 0.9rem!important;
}

.featured_properties .card:hover {
    border: 1px solid black;;
}

.single-filter-btn {
    width: max-content;
    white-space: nowrap;
}

.card {
    height: 100%;
}

.sidebar-card-area {
    gap: 15px;
}

.row.custom-shadow.mb-4.mx-1 {
    margin-bottom: 15px !important;
}

.row.mt-4.align-items-center.btn-filters {
    margin-top: 0 !important;
}


.filter-btn-area-mobile{
    display: flex;
    flex-direction: row;
    position: relative;
    padding-bottom: 15px;
    z-index: 100;
    gap: 15px;
    overflow: auto hidden;
    scroll-behavior: smooth;
    scroll-snap-type: both mandatory;
}

.active-room {
    background: #35495e !important;
    color: #fff !important;
}

/*mobile-view*/
@media screen and (max-width: 767px) {

    .sale-mobile-area {
        background: white;
        border: 0;
        box-shadow: unset;
    }

    .sale-btns-area {
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
    }

    .mobile-full-bar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        margin-top: 5px;
    }

    .mobile-filter {
        margin-bottom: 30px;
    }
    
    .filter-btn-area-mobile{ 
        overflow: scroll hidden;
        scroll-behavior: smooth;
        scroll-snap-type: both mandatory;
    }
        
    .sidebar-card-area {
        padding-left: 15px;
        padding-right: 15px;
    }

    span.text-white.fw-bold.user-name {
        color: #000 !important;
    }

    .logo {
        height: 2.5rem;
    }

    
}

/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {

    .filter-btn-area-mobile{ 
        overflow: scroll hidden;
        scroll-behavior: smooth;
        scroll-snap-type: both mandatory;
    }
        
  
    .tab-full-btn {
        width: 100% !important;
    }

    .btn-filters {
        justify-content: center;
        gap: 15px;
    }

    span.text-white.fw-bold.user-name {
        color: #000 !important;
    }
    .tab-mb-30 {
        margin-bottom: 30px;
    }
}

/* Tab Landscape */
@media (min-width: 992px) and (max-width: 1024px) {}

/*4k screen*/
@media screen and (min-width: 1441px) {}
