.btn-filters button {
    font-size: 0.9rem;
}
.apart-avail {
    left: 1.5rem;
    top: 0.2rem;
}
.apart-avail button {
    font-size: 0.6rem;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 0.1rem 0.5rem!important;
    border-radius: 30px;
    line-height: 15px;
}

.prom-logo {
    top: 8.5rem;
    left: 1rem;
    width: 100%;
}
.tooltip.show {
    opacity: 1;
}
.tooltip-inner {
background-color: #35495E;
}

.mySwiper2 {
    height: 300px!important;
}
.mySwiper2 img {
    object-fit: cover;
    height: 300px;
    width: 100%;
}

.mySwiper {
    height: 80px!important;
}
.mySwiper img {
    object-fit: cover;
    height: 80px;
    width: 100%;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 5px!important;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 20px;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 5px!important;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 20px;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    font-size: 1.3rem;
    color: #000000;
    font-weight: 800;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    font-size: 1.3rem;
    color: #000000;
    font-weight: 800;
}
.find-out {
    border: 1px solid #39B54A!important;
    color: #39B54A;
    border-radius: 30px;
    font-size: 0.9rem;
    font-weight: 800;
    padding: 0.4rem 1.2rem!important;
    line-height: 19px;
}

.card-body {
    padding: 0.9rem!important;
}

.featured_properties .card:hover {
    border: 1px solid black;;
}

.single-filter-btn {
    width: max-content;
}

.card {
    height: 100%;
}

.sidebar-card-area {
    gap: 15px;
}