.apart-avail {
    left: 1rem;
    top: 1rem;
    z-index: 1;
}
.apart-avail button {
    font-size: 0.8rem;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 0.3rem 0.8rem!important;
    border-radius: 30px;
    line-height: 15px;
}
.mySwiper2 {
    height: 400px!important;
}
.mySwiper2 img {
    object-fit: cover;
    height: 400px;
    width: 100%;
}

.mySwiper {
    height: 400px!important;
}
.mySwiper img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.prom-logo {
    top: 8.5rem;
    left: 1rem;
    width: 100%;
}
.tooltip.show {
    opacity: 1;
}
  
.tooltip-inner {
background-color: #35495E;
}

.similar .apart-avail {
    left: 1.5rem;
    top: 0.2rem;
}
.similar .apart-avail button {
    font-size: 0.6rem;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 0.1rem 0.5rem!important;
    border-radius: 30px;
    line-height: 15px;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 5px!important;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 20px;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 5px!important;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 20px;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    font-size: 1.3rem;
    color: #000000;
    font-weight: 800;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    font-size: 1.3rem;
    color: #000000;
    font-weight: 800;
}
.find-out {
    border: 1px solid #39B54A!important;
    color: #39B54A;
    border-radius: 30px;
    font-size: 0.9rem;
    font-weight: 800;
    padding: 0.4rem 1.2rem!important;
    line-height: 19px;
}

.card-body {
    padding: 0.9rem!important;
}

.card {
    height: 100%;
}

.sidebar-card-area {
    gap: 15px;
}

.sidebar-card-area .card-body.text-end {
    display: flex;
    align-items: center;
    justify-content: end;
}

/* .features ::marker {
    font-size: 1.8rem!important;
} */


.features li {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    align-items: baseline;
}

.features li i {
    font-size: 0.6rem;
    padding-right: 15px;
}

.paragraph.collapse:not(.show) {
    display: flex;
    height: 6rem;
    overflow: hidden;
}

.paragraph.collapsing {
    height: 6rem;
}

.features a.collapsed::after {
    content: 'See full description';
}

.features a:not(.collapsed)::after {
    content: 'Hide description';
}

/* maps */
.gm-style-iw-d {
    overflow: hidden!important;
    max-height: 200px!important;
}
.gm-style-iw {
    max-height: 200px!important;
}
.gm-style-iw button {
    display: none!important;
}
.gm-style .gm-style-iw-c {
    padding: 8px!important;
}

.pano-wrapper {
    position: relative;
}

.pano-symbol {
    position: absolute;
    top: 35%;
    left: 40%;
    width: 20% !important;
    height: auto !important;
}

.option-list-wrapper {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -15px;
    z-index: 2;
}

ul.option-list {
    list-style: none;
    display: flex;
    padding-left: 0;
    background: #fff;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

ul.option-list li {
    margin: 5px;
    border-right: 1px solid #000;
    padding-right: 15px;
    padding-left: 15px;
}

.last-item {
    border-right: 0 !important;
}

ul.option-list li a:hover {
    color: #000;
}

/*image popup slider*/


  .small {
    font-size: 11px;
    color: #999;
    display: block;
    margin-top: -10px
  }
  
  .cont {
    text-align: center;
  }
  


.demo-gallery {
    margin-top: 50px;
}
  
  .demo-gallery > ul {
    margin-bottom: 0;
    padding-left: 15px;
  }
  
  .demo-gallery > ul > li {
    margin-bottom: 15px;
    width: 280px;
    display: inline-block;
    margin-right: 15px;
    list-style: outside none none;
  }
  
  .demo-gallery > ul > li a {
    border: 3px solid #FFF;
    border-radius: 3px;
    display: block;
    overflow: hidden;
    position: relative;
    float: left;
  }
  
  .demo-gallery > ul > li a > img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
  }
  
  .demo-gallery > ul > li a:hover > img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  
  .demo-gallery > ul > li a:hover .demo-gallery-poster > img {
    opacity: 1;
  }
  
  .demo-gallery > ul > li a .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
  }
  
  .demo-gallery > ul > li a .demo-gallery-poster > img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
  }
  
  .demo-gallery > ul > li a:hover .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .demo-gallery .justified-gallery > a > img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
  }
  
  .demo-gallery .justified-gallery > a:hover > img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  
  .demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
    opacity: 1;
  }
  
  .demo-gallery .justified-gallery > a .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
  }
  
  .demo-gallery .justified-gallery > a .demo-gallery-poster > img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
  }
  
  .demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .demo-gallery .video .demo-gallery-poster img {
    height: 48px;
    margin-left: -24px;
    margin-top: -24px;
    opacity: 0.8;
    width: 48px;
  }
  
  .demo-gallery.dark > ul > li a {
    border: 3px solid #04070a;
  }

  button.close {
    position: relative;
    top: 15px;
    right: 15px;
}

.lightgallery-content {
  background-color: #363434;
}

#profile-description {
  max-width: 100%; 
  margin-top: 15px; 
  position:relative;
}
#profile-description .text {
/*   width: 660px;  */
  margin-bottom: 5px; 
  color: #777; 
  padding: 0; 
  position:relative; 
  font-family: Arial; 
  font-size: 14px; 
  display: block;
}
#profile-description .show-more {
/*   width: 690px;  */
  color: #000; 
  position:relative; 
  font-size: 12px; 
  padding-top: 5px; 
  height: 30px; 
  text-align: center; 
  background: #f1f1f1; 
  cursor: pointer;
}
#profile-description .show-more:hover { 
    color: #1779dd;
}
#profile-description .show-more-height { 
  height: 65px; 
  overflow:hidden; 
  padding: 0;
}

.btn-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.btn-wrapper i {
  width: 35px;
}

.send-to-agent-form {
  padding: 25px;
  padding-bottom: 0;
}

#loginModal .modal-content {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  margin-top: 20vh;
}

#loginModal .bottom-p {
  padding-right: 25px;  
}

.modal-content .modal-body.contact-agent {
  padding: 25px !important;
  height: 100%;
  background: #fff;
}

.modal-footer.contact-agent {
  background: #fff;
}

/*mobile-view*/
@media screen and (max-width: 767px) {
  .modal-dialog {
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .modal-content {
    padding: 25px;
  }

  .modal-body.light-gallery-body {
    overflow: auto !important;
  }

  div#panoModal .modal-content {
    padding: 0;
  }

  .sidebar-card-area {
    padding-left: 15px;
    padding-right: 15px;
  }
}


/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-card-area {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }

  .sidebar-card-area .card {
    margin-bottom: 0;
  }

  .sidebar-card-area .custom-shadow {
    margin-bottom: 30px !important;
  }

  .tab-mt-30 {
    margin-top: 30px;
  }

  .tab-btn-width {
    width: max-content;
  }

}

