.agent-container {
    display: flex;
}

.agent-main-area {
    flex: 3;
    padding-left: 15px;
    padding-right: 15px;
}

.agent-side-area {
    flex: 1;
    margin-top: 60px;
}

.pano-symbol {
    position: absolute;
    top: 30%;
    left: 18%;
    width: 15% !important;
    height: auto !important;
}

.profile-pic {
    position: relative;
    width: 250px;
    height: 200px;
    flex: 1;
}

#agent-prof {
    position: absolute;
    top: -50%;
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.agent-flex-row {
    display: flex;
}

.agent-txt-main {
    flex: 4;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    padding-top: 15px;
    padding-left: 60px;
}

.inner-row-wrapper {
    display: flex;
}

.property-count-wrapper {
    flex: 2;
}

.agent-contact-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.agent-contact-btn {
    width: 250px;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 0.9rem;
    margin-bottom: 10px;
    border: 1.5px solid rgb(112, 112, 112);
    background-color: rgb(53, 73, 94);
    color: #fff;
}

.count-box-wrapper {
    display: flex;
    width: max-content;
    gap: 85px;
    margin-bottom: 15px;
}

.count-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span.count-txt {
    white-space: nowrap;
    font-size: 0.7rem;
    color: #CBCBCB;
}

span.icon {
    display: inline-block;
    padding-right: 15px;
    color: #fff;
}

span.number {
    font-size: 2rem;
}

.agent-profile-area {
    padding-bottom: 60px;
}

/*agent cards*/
.agent-card {
    display: flex;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    margin-bottom: 45px;
    position: relative;
    height: 400px;
}

.agent-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img.property-img {
    width: 50%;
}

.agent-card-txt-wrapper {
    padding: 25px;
}

.agent-card-txt-wrapper h4 {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 15px !important;
}

.agent-card-txt-wrapper h5 {
    font-size: 0.9rem;
    margin-bottom: 15px !important;
}

.heart-icon-wrapper {
    position: absolute;
    top: 0;
    right: 0;
}

.heart-icon-wrapper {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2rem;
}

/*sidebar*/
.ad-card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    margin-bottom: 60px;
}

.ad-btn-wrapper {
    height: 100%;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

a.ad-btn {
    font-size: 0.8rem;
    border: 1px solid green;
    border-radius: 30px;
    padding: 5px 10px;
    display: block;
    width: max-content;
    margin-left: auto;
    margin-right: 15px;
}

.agent-list-wrapper {
    margin-right: 45px;
}

.agent-list-wrapper {
    padding-top: 45px;
}

.individual-agent-banner img {
    width: 100%;
    height: auto;
    object-fit: contain;
    padding-top: 103px;
}

/*mobile-view*/
@media screen and (max-width: 767px) {

    .mobile-i-agent-h5 {
        font-size: 0.7rem;
    }

    .individual-agent-banner {
        display: none;
    }

    .agent-container {
        display: block;
    }

    .agent-list-wrapper {
        margin-right: 0;
    }

    .agent-card {
        flex-direction: column;
        height: 100%;
    }

    img.property-img {
        width: 100%;
        height: 250px;
    }

    .agent-profile-area {
        padding-left: 15px;
        padding-right: 15px;
    }

    .agent-main-area {
        padding-left: 0;
        padding-right: 0;
    }

    .agent-txt-main h1 {
        font-size: 1.5rem !important;
    }

    .inner-row-wrapper {
        flex-direction: row-reverse;
        align-items: center;
        margin-bottom: 15px;
        padding-left: 0;
        gap: 15px;
        justify-content: center;
    }

   

    .individual-agent-banner img {
        height: 250px !important;
    }

    .count-box-wrapper {
        gap: 15px;
    }

    .agent-contact-btn {
        width: 150px;
        font-size: 0.6rem;
        padding: 10px 10px;
    }

    span.icon {
        padding-right: 10px;
    }

    .profile-pic {
        height: 130px;
    }

    #agent-prof {
        position: unset;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    span.number {
        font-size: 1rem;
    }

    .agent-flex-row {
        margin-top: 15px;
    }

    .agent-txt-main {
        padding-left: 0;
    }
}

/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {
    .agent-container {
        flex-direction: column;
    }
    .agent-side-area {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .individual-agent-banner img {
        padding-top: 0;
        height: 300px;
    }
    .agent-list-wrapper {
        margin-right: 0;
    }
}

/* Tab Landscape */
@media (min-width: 992px) and (max-width: 1024px) {}

/*4k screen*/
@media screen and (min-width: 1441px) {}