.banner {
    background-image: url('../img/frontend/login/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 700px;
    width: 100%;
}

.login .form-label {
    position: relative;
    top: 2rem;
    transition: all 0.5s;
}

.click-input {
    top: -0.2rem!important;
    transition: all 0.5s;
}

.login .form-control {
    background-color: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #FFFFFF;
}

.login .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.login .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

.login .form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

input[type="email"]:focus {
    background-color: transparent!important;
}
input[type="password"]:focus {
    background-color: transparent!important;
}
input[type="text"]:focus {
    background-color: transparent!important;
}

.register-btn {
    background-color: rgb(53, 73, 94, 0.4);
    color: white;
    border: 1px solid white;
}

.register-btn:hover {
    color: white!important;
    background-color: #5c0606;
}

hr {
    opacity: 1;
    border-color: #FF0000!important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    color: white!important;
}

input:-webkit-autofill
{
    -webkit-text-fill-color: white !important;
}


.vertical {
    border-left: 1px solid white;
    height: 275px;
    position: relative;
    left: 4.25rem;
}
.center-or {
    position: relative;
    left: 1.5rem;
}

.bottom {
    margin-bottom: 4rem!important;
}

/*mobile-view*/
@media screen and (max-width: 767px) {
    .mobile-register-area {
        display: flex;
        flex-direction: column;
    }

    .mobile-padding-60 {
        padding-top: 5px !important;
    }

    .horizontal-line {
        display: none;
    }

    .mobile-mb-30 {
        margin-bottom: 30px;
    }

    .mobile-register-btn {
        width: 100%;
    }

    .mobile-register-btn button#submit_btn {
        width: 100% !important;
    }

    .mobile-mb-0  {
        margin-bottom: 0 !important;
    }
    
}

/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {

    .col-6.text-end.mobile-register-btn {
        text-align: left !important;
    }

    h3.text-white.text-center.bottom.mobile-mb-0 {
        margin: 0 !important;
    }

    .mobile-padding-60  {
        padding-top: 60px !important; 
    }

    span.mobile-noti-counter {
        position: absolute;
        right: 10px;
    }
}

/* Tab Landscape */
@media (min-width: 992px) and (max-width: 1024px) {}

/*4k screen*/
@media screen and (min-width: 1441px) {}