@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0!important;
}

a:hover {
    text-decoration: none !important;
}

p {
    font-size: 0.9rem;
    color: #666666;
}

.home-search ::placeholder {
    font-size: 1rem;
}

.navbar {
    padding-top: 4.5rem!important;
    background-color: #16202C;
}
.navbar-nav a {
    color: white!important;
    font-size: 0.9rem;
    border-bottom: 2px solid transparent;
}
.navbar-nav a:hover {
    border-bottom: 2px solid red!important;
}
.navbar-nav a.active {
    border-bottom: 2px solid red!important;
}
.navbar-nav .nav-item {
    z-index: 1;
}
.navbar select {
    width: 15%;
    top: -3.2rem;
    right: 32rem;
    border-radius: 0!important;
    background-color: #16202C;
    color: white;
    border: 1px solid #524c4c;
    font-size: 0.9rem;
    padding: 5px;
    padding: 3px 5px;
    font-size: 0.8rem;
}
.navbar-brand {
    bottom: 0rem;
}

.navbar .dropdown-menu {
    min-width: 10rem!important;
    left: 10.5rem;
    top: 3.5rem;
    border-top: 5px solid #39B54A;
    background-color: #FFFFFF;
    padding-bottom: 0!important;
}

.navbar .dropdown-menu .dropdown-item {
    border-bottom: 1px solid #707070;
    color: black!important;
    padding: 0.5rem 1rem!important;
}

.navbar .dropdown-menu .dropdown-item:hover {
    background-color: #E3EDEF;
}

.logo {
    height: 4.5rem;
}
.custom-shadow {
    -webkit-box-shadow: 0px 0px 42px -31px rgb(0 0 0 / 75%);
    -moz-box-shadow: 0px 0px 42px -31px rgb(0 0 0 / 75%);
    box-shadow: 0px 0px 42px -31px rgb(0 0 0 / 75%);
    border-style: solid;
    border-width: 1px;
    border-color: #dfdfdf;
}
.log-reg {
    top: -3.5rem;
    right: 0rem;
}
.log-reg a, .log-reg select {
    color: white;
    font-size: 0.9rem;
}
.log-reg a:hover {
    color: white!important;
}
.log-reg .register {
    padding-top: 0.39rem;
    padding-bottom: 0.39rem;
}

::placeholder { /* Chrome/Opera/Safari */
    font-size: 0.8rem;
}
.input-group-text {
    display: flex;
    align-items: center;
    /* padding: .375rem .75rem; */
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}



@media screen and (min-width: 1300px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1350px!important;
    }
}

@media screen and (min-width: 1100px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1250px!important;
    }
}

/*search bar*/
.left-toggle, .my-menu {
    width: max-content;
}

label.btn.btn-secondary.toggle-label {
    border-radius: 0;
    height: 50px;
    background-color: rgb(53, 73, 94);
}

label.btn.btn-secondary.toggle-label.active {
    background-color: transparent;
}

.left-toggle-btn-group {
    background: transparent;
    box-shadow: -5px -5px 15px 0px #ffffff, inset 3px 3px 5px 0px #c4c4c4, inset -3px -3px 5px 0px #ffffff, 3px 3px 15px 0px #c4c4c4;
    padding: 5px;
    height: 50px;
}

.left-menu-btn {
    background: transparent !important;
    border: 0 !important;
    height: 40px;
    border-radius: 0 !important;
    display: flex !important;
    align-items: center !important;
    color: #35495e !important;
}

.left-menu-btn.active  {
    background-color: rgb(53, 73, 94) !important;
    color: #fff !important;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    flex: 4;
    position: relative;
}

div#search-result {
    background: #fff;
    margin-top: 5px;
    position: absolute;
    top: 50px;
    z-index: 2;
    width: 100%;
}

ul.dropdown-menu {
    width: 100%;
    display: block;
    position: relative;
    border: 0;
    padding-left: 15px;
}

.result-item {
    cursor: pointer;
}

/*footer styles*/
.social-row {
    display: flex;
}

.icon-wrapper {
    flex: 1;
}

.icon-wrapper i {
    font-size: 30px;
    color: #fff;
}

a.add-property-btn {
    background: #39b54a;
    padding-top: 0.39rem;
    padding-bottom: 0.39rem;
    border-color: #39b54a !important;
    margin-left: 30px;
}

/*geolocation infowindow styles*/
.tooltipContainer {
	margin: auto;
	background: transparent;
	border-radius: 5px;
	height: 130px;
	width: 150px;
	
	/* To Display the tooltip 'span' in the center of the container */
	display: flex;
	align-items: center;
	justify-content: center;
    position: relative;
}

/* Tooltip Styles */
.tooltip {
	color: #FFFFFF;
	font-size: 3rem;
	
	position: relative;
	z-index: 100;
	top: -20px;
}
/* 
[data-tooltip-location = "bottom"]:hover::before {
	content: '';
	position: absolute;
	left: 70%;
	top: 50px;

	border-bottom: 15px solid rgba(255,154,66,0.7);
	border-top: 10px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent; */
	/*
	opacity: 0;
	transition: opacity 0.3s, transform 0.3s;
	transform-origin: -2em 50%;
	transform: translate3d(0,50%,0) rotate3d(1,1,1,30deg);*/
/* } */
/*
[data-tooltip-location = "bottom"]:hover::before {
	opacity: 1;
	-webkit-transform: translate3d(0,50%,0) rotate3d(0,0,0,0);
	transform: translate3d(0,50%,0) rotate3d(0,0,0,0);
	pointer-events: auto;
}*/

/* [data-tooltip-location = "bottom"]:hover::after {
	content: attr(data-tooltip);
	font-size: 1rem;
	text-align: center;
	color: #000000;
	padding: 10px;
	
	position: absolute;
	left: -10px;
	top: 75px;
	width: 200px;
	height: 25px;

	background: rgba(255,154,66,0.7);
	border-radius: 5px;
} */

span.tooltip {
    top: 5px;
    left: 55px;
    color: rgba(255,154,66,0.7);
    opacity: 1;
    font-size: 50px;
}


/* Animations Extra */
.geo-i i:hover {
	color: rgba(255,154,66,1);
	animation: jumpInPlace 1s linear infinite;
  	position: absolute;
  	left: -18px;
  	top: -20px;
}

@keyframes jumpInPlace {
  0%, 100% {
    top: -20px;
  }
  50% {
    top: -40px;
  }
}

.circle {
	border-radius: 50%;
	background: rgba(21,22,30,1);
	background: linear-gradient(135deg, rgba(21,22,30,1) 0%, rgba(22,23,31,1) 1%, rgba(115,115,115,1) 100%);
	width: 50px;
	height: 50px;
	position: absolute;
	opacity: 0;
	animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
 }

@keyframes scaleIn {
  from {
    transform: scale(.5, .5);
    opacity: .5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}


h5.geo {
    display: block;
    position: absolute;
    top: 100px;
    font-size: 0.8rem;
    color: #d38c50;
}

.gm-style-iw.gm-style-iw-c {
    padding: 0;
}

/* .gm-style .gm-style-iw-d {
    overflow: auto !important;
} */

h2.sub-topics {
    margin-top: 60px;
}

h2.sub-topic.center-topic  {
    text-align: center;
}

.gm-style .gm-style-iw-d {
    overflow-y: auto !important;
}

p#copyright-txt {
    text-align: center;
    color: #fff;
    font-size: 0.8rem;
    padding-top: 15px;
    border-top: 1px solid #fff;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    margin-top: 15px;
}

.visible-xs {
    display: none !important;
}

/*mobile-view*/
@media screen and (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
    .visible-xs {
        display: block !important;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        background-color: rgb(230, 233, 235);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 15px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 15px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        padding: 1px;
      }

      .container-fluid.home-search {
        padding-top: 30px !important;
    }

    .mobile-logo {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .top-row-wrapper {
        display: flex;
        background-color: #16202C;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .mobile-menu-toggle {
        color: #fff;
        margin-left: 15px;
    }

    .mobile-gap {
        gap: 15px;
    }

    .search-wrapper {
        margin-bottom: 15px;
    }
    
    button.btn.text-white.rounded-0.border-start {
        display: block;
        margin-left: auto !important;
        margin-right: auto;
    }

    .mobile-search {
        max-width: 75% !important;
    }

    .profile-nav {
        display: flex !important;
        flex-direction: column;
        gap: 30px;
        width: 90%;
        padding-left: 15px;
    }
    .mobile-nav-tab {
        margin-top: 50px;
    }

    .mobiile-wish-list-btn {
        margin-top: 30px;
        border: 1px solid;
    }
    a.add-property-btn {
        margin-left: 0;
        color: #fff;
        text-align: center;
    }

    .mobile-nav-link {
        background-color: rgb(230, 233, 235) !important;
        color: #000;
    }

    .mobile-nav-link.active {
        background-color: rgb(53, 73, 94) !important;
        color: #fff !important;
    }

    .mobile-tab-list {
        position: absolute;
        top: 0;

    }

    .mobile-tab-list button {
        height: 50px;
        border: 0 !important;
        border-radius: 0 !important;
    }

    .profile-nav a {
        color: #000;
        border: 1px solid #818181 !important;
    }

    .profile-nav a:hover {
        color: #000;
    }
}

/*tab-portrait*/
@media (min-width: 768px) and (max-width: 991px) {}

/* Tab Landscape */
@media (min-width: 992px) and (max-width: 1024px) {}

/*4k screen*/
@media screen and (min-width: 1441px) {}